<!DOCTYPE html>
<html lang="en">

<head>
    <title>What to Watch | Decade</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" type="text/css">
    <link rel="icon" href="images\logo_image.png" type="image/x-icon">
</head>

<body>

    <header>
        <div class="logo_header">
            <a href="index.html" class="pagelogo"><img src="images\logo_header.png" alt="What to Watch" title="What to Watch"></a>
        </div>
    </header>

    <main>
        <div class="select_message">
            <h2>Select decade</h2>
        </div>
        <!--Followed the tutorial https://www.youtube.com/watch?v=jV8B24rSN5o&t=326s for grid implementation-->
        <div class="container">
            <div class="grid">
                <div>
                    <a href="movie.html"><img src="images\70.png" id="70s" alt="70s" title="70s" style="width:100%"></a>
                </div>
                <div>
                    <a href="movie.html"><img src="images\80.png" id="80s" alt="80s" title="80s" style="width:100%"></a>
                </div>
                <div>
                    <a href="movie.html"><img src="images\90.png" id="90s" alt="90s" title="90s" style="width:100%"></a>
                </div>
                <div>
                    <a href="movie.html"><img src="images\2000.png" id="2000" alt="2000" title="2000" style="width:100%"></a>
                </div>
                <div>
                    <a href="movie.html"><img src="images\2010.png" id="2010" alt="2010" title="2010" style="width:100%"></a>
                </div>
                <div>
                    <a href="movie.html"><img src="images\2020.png" id="2020" alt="2020" title="2020" style="width:100%"></a>
                </div>
            </div>
        </div>
    </main>

</body>

<footer>
    <p>
        Final project: Sara, Anood, Tamara, Vanessa, Karolina
    </p>
</footer>

</html>