<!DOCTYPE html>
<html lang="en">

<head>
    <title>What to Watch | Genre</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static_files/index.css" type="text/css">
    <link rel="icon" href="/static_files/images/logo_image.png" type="image/x-icon">
</head>

<body>

    <header>
        <div class="logo_header">
            <a href="index.html" class="pagelogo"><img src="/static_files/images/logo_header.png" alt="What to Watch" title="What to Watch"></a>
        </div>
    </header>

    <main>
        <div class="select_message">
            <h2>Select genre</h2>
        </div>
        <!--Followed the tutorial https://www.youtube.com/watch?v=jV8B24rSN5o&t=326s for grid implementation-->
        <div class="container">
            <div class="grid">
                <div>
                    <a href="decade.html"><img src="/static_files/images/horror.png" onclick='userGenre("horror")' id="horror" alt="Horror" title="Horror" style="width:100%"></a>
                </div>
                <div>
                    <a href="decade.html"><img src="/static_files/images/scifi.png" id="scifi" alt="Scifi" title="Scifi" style="width:100%"></a>
                </div>
                <div>
                    <a href="decade.html"><img src="/static_files/images/comedy.png" id="comedy" alt="Comedy" title="Comedy" style="width:100%"></a>
                </div>
                <div>
                    <a href="decade.html"><img src="/static_files/images/romantic.png" id="romantic" alt="Romantic" title="Romantic" style="width:100%"></a>
                </div>
                <div>
                    <a href="decade.html"><img src="/static_files/images/suspense_thriller.png" id="suspense_thriller" alt="Suspense & Thriller" title="Suspense & Thriller" style="width:100%"></a>
                </div>
                <div>
                    <a href="decade.html"><img src="/static_files/images/action.png" id="action" alt="Action" title="Action" style="width:100%"></a>
                </div>
            </div>
        </div>
    </main>

</body>

<footer>
    <p>
        Sit back, chill and let's watch something good!
    </p>
</footer>

</html>