<!DOCTYPE html>
<html lang="en">

<head>
    <title>What to Watch | Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" type="text/css">
    <link rel="icon" href="images\logo_image.png" type="image/x-icon">
</head>

<body>

    <main>

        <div class="container_main_logo">
            <div>
                <a href="genre.html" class="pagelogo"><img src="images\Logo.png" alt="What to Watch" title="What to Watch"></a>
            </div>
        </div>
    </main>

</body>

<footer>
    <p>
        Sit back, chill and let's watch something good!
    </p>
</footer>

</html>