<!DOCTYPE html>
<html lang="en">

<head>
    <title>What to Watch | Movie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" type="text/css">
    <link rel="icon" href="images\logo_image.png" type="image/x-icon">
</head>

<body>

    <header>
        <div class="logo_header">
            <a href="index.html" class="pagelogo"><img src="images\logo_header.png" alt="What to Watch" title="What to Watch"></a>
        </div>
    </header>

    <main>
        <div class="select_message">
            <h2>Select movie</h2>
        </div>
        <!--Followed the tutorial https://www.youtube.com/watch?v=jV8B24rSN5o&t=326s for grid implementation-->
        <div class="container">
            <div class="grid">
                <div>
                    <a href="streaming.html"><img src="https://m.media-amazon.com/images/M/MV5BOTI5ODc3NzExNV5BMl5BanBnXkFtZTcwNzYxNzQzMw@@._V1_Ratio0.6837_AL_.jpg" id="Movie1" alt="Movie1" title="Movie1" style="width:100%"></a>
                </div>
                <div>
                    <a href="streaming.html"><img src="https://m.media-amazon.com/images/M/MV5BNDg1NTU2OWEtM2UzYi00ZWRmLWEwMTktZWNjYWQ1NWM1OThjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_Ratio0.6837_AL_.jpg" id="Movie2" alt="Movie12" title="Movie2" style="width:100%"></a>
                </div>
                <div>
                    <a href="streaming.html"><img src="https://m.media-amazon.com/images/M/MV5BNDI4MGEwZDAtZDg0Yy00MjFhLTg1MjctODdmZTMyNTUyNDI3L2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_Ratio0.6837_AL_.jpg" id="Movie3" alt="Movie3" title="Movie3" style="width:100%"></a>
                </div>
                <div>
                    <a href="streaming.html"><img src="https://m.media-amazon.com/images/M/MV5BMjA5NzgyMjc2Nl5BMl5BanBnXkFtZTcwOTU3MDI3MQ@@._V1_Ratio0.6837_AL_.jpg" id="Movie4" alt="Movie4" title="Movie4" style="width:100%"></a>
                </div>
                <div>
                    <a href="streaming.html"><img src="https://m.media-amazon.com/images/M/MV5BNWU2NzEyMDYtM2MyOS00OGM3LWFkNzAtMzRiNzE2ZjU5ZTljXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_Ratio0.6837_AL_.jpg" id="Movie5" alt="Movie5" title="Movie5" style="width:100%"></a>
                </div>
                <div>
                    <a href="streaming.html"><img src="https://m.media-amazon.com/images/M/MV5BMTg4ODkzMDQ3Nl5BMl5BanBnXkFtZTgwNTEwMTkxMDE@._V1_Ratio0.6837_AL_.jpg.jp" id="Movie6" alt="Movie6" title="Movie6" style="width:100%"></a>
                </div>
            </div>
        </div>
    </main>

</body>

<footer>
    <p>
        Final project: Sara, Anood, Tamara, Vanessa, Karolina
    </p>
</footer>

</html>