<!DOCTYPE html>
<html lang="en">

<head>
    <title>What to Watch | Streaming</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css" type="text/css">
    <link rel="icon" href="images\logo_image.png" type="image/x-icon">
</head>

<body>

    <header>
        <div class="logo_header">
            <a href="index.html" class="pagelogo"><img src="images\logo_header.png" alt="What to Watch" title="What to Watch"></a>
        </div>
    </header>

    <main>
        <div class="select_message">
            <h2>Select streaming platform</h2>
        </div>
        <!--Followed the tutorial https://www.youtube.com/watch?v=jV8B24rSN5o&t=326s for grid implementation-->
        <div class="container">
            <div class="grid">
                <div>
                    <a href="https://www.amazon.co.uk/gp/video/getstarted" target="_blank"><img src="images\streaming_amazon.png" id="Amazon Prime Video" alt="Amazon Prime Video" title="Amazon Prime Video" style="width:100%"></a>
                </div>
                <div>
                    <a href="https://www.apple.com/uk/apple-tv-plus/" target="_blank"><img src="images\streaming_apple.png" id="Apple TV" alt="Apple TV" title="Apple TV" style="width:100%"></a>
                </div>
                <div>
                    <a href="https://www.disneyplus.com/en-gb/home" target="_blank"><img src="images\streaming_disney.png" id="Disney+" alt="Disney+" title="Disney+" style="width:100%"></a>
                </div>
                <div>
                    <a href="https://www.bbc.co.uk/bbcone" target="_blank"><img src="images\streaming_bbc.png" id="BBC" alt="BBC" title="BBC" style="width:100%"></a>
                </div>
                <div>
                    <a href="https://www.netflix.com/gb/" target="_blank"><img src="images\streaming_netflix.png" id="Netflix" alt="Netflix" title="Netflix" style="width:100%"></a>
                </div>
                <div>
                    <a href="https://www.sky.com/tv/sky-q" target="_blank"><img src="images\streaming_sky.png" id="SkyQ" alt="SkyQ" title="SkyQ" style="width:100%"></a>
                </div>
            </div>
        </div>
    </main>



</body>

<footer>
    <p>
       Final project: Sara, Anood, Tamara, Vanessa, Karolina
    </p>
</footer>

</html>